body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
  }
  * {box-sizing: border-box;}
    
  .App
  {
    text-align: initial !important;
  }
  .header
    {
      height: 60px;
      background-color: rgb(147, 213, 201);
    }
    /*nav*/
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    font-size: 18px;
    font-weight: 500;
  }
  
  .topnav a:hover {
    color: #f16f6f;
    text-decoration: none;
  }
  
  .topnav a.active {
   
    color: #f16f6f;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 30px;
    border: none;
    cursor: pointer;
   
  }
  
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  .search-container
  {
    display: -webkit-inline-box;
    margin: 10px 50px 0px 0px !important;
    border-radius: 25px !important;
    border-bottom: 2px solid rgba(153,153,153,0.8);
    padding: 0px !important;
  
  }
  .search-container input
  {
    width:80% !important;
    margin: 3px !important;
    margin-right: 20px !important;
  }
  .svg-inline--fa.fa-w-16 {
   width: 1em;
   margin-right: 9px;
   color: rgba(153,153,153,0.8);
  }
  /*sideNav*/
  .grid-main
    {
      display: grid;
      grid-template-columns: 15% 85%;
      width: 100% !important;
    }
    .imgno
    {
      margin: 30px 10px 30px 20px;
      width: 80%;
    }
    
    .center{
      display: flex;
      justify-content: center;
    }
   
   /*Companies*/
   .collection-item
   {
     border: 3px solid rgb(147, 213, 201);
     border-radius: 15px;
     margin: 10px;
     padding: 5px;
     display: grid;
     grid-template-columns: auto auto ;
   }
   .collection-item p{
     margin: 2px;
     letter-spacing: 2px;
   }
   .bgw1
   {
     background-color: white;
    
     margin: 35px 5px 35px 20px;
     border-radius: 10px !important;
     padding: 20px;
   }
   .list
   {
     padding-top: 10px;
   }
   .gridComp img
   {
   height: 80px;
   width: 80px;
   }
   .fa-chevron-down
   {
     font-size: 18px !important;
   }
   .downIcon
   {
     margin-top: 10%;
     border: 1px solid black;
     background-color: #fff;
     padding: 3px 6px;
   }
   button:focus {
     outline: 1px dotted;
     outline: none !important;
   }
   /*AddCompanies*/
   
   .bgwAdd
   {
     background-color: white;
     padding: 20px;
     margin: 35px 20px 35px 5px;
     border-radius: 10px !important;
   }
   .addCompGrid
   {
     display: grid;
     grid-template-columns: auto auto ;
     grid-column-gap:10px !important;
   }
   .addCompGrid input
   {
    padding: 0px !important;
     margin: 15px !important;
   }
   .addMore
   {
     background-color: #f3f3f3;
    
   }
  
   .addMoreGrid
   {
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap:8px !important;
    margin: 0px !important;
    width: fit-content;
   }
   .addMore input{
     background-color: #f3f3f3 !important;
     width: 90%;
     padding: 0px !important;
     margin: 15px !important;
   }
   .addMoreBtn
   {
     border-radius: 20px;
     height: 40px;
     width: 40px;
     float: right;
     color: #fff;
     background-color: rgb(147, 213, 201);
     border: 1px solid #fff;
     font-size: 25px;
     font-weight: 700;
     text-align: center;
     padding-bottom: 8px !important; 
     margin-left: 5px;
   }
    input 
   {
     padding-bottom: 0px !important;
     margin: 20px 5px 20px 5px !important;
     border-top: none !important;
     border-left: none !important;
     border-right: none !important;
     border-bottom: 1px solid #000;
     width: 100%;
   
     
   }
   input:focus {
     border-color:#000 !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
       outline: none !important;
   }
   #exampleFormControlSelect1
   {
     padding-bottom: 0px !important;
     margin: 10px 5px 10px 5px !important;
     border-top: none !important;
     border-left: none !important;
     border-right: none !important;
     border-bottom: 1px solid #000;
     width: 100%;
   }
   #exampleFormControlSelect1:focus {
     border-color:#000 !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
       outline: none !important;
   }
   
   .submit{
     border: 1px solid #fff;
     border-radius: 25px;
     padding: 5px 5px;
     color: #fff;
     text-decoration: none;
     transition: 0.6s ease;
     font-family:'Dosis', sans-serif;
     font-weight:600; 
     letter-spacing: 2px;
     font-size: 2em;
     width: 100%;
     justify-content: center !important;
     align-items: center !important;
     background-color: rgb(147, 213, 201);
   }
   
   .more
   {
     display: flex;
     justify-content: center !important;
     align-items: center !important;
     
   }
   .hello
   {
   display: grid;
     padding: 10px !important;
     background-color: #f3f3f3;
    
     width:100% !important;
    
   } 
   .row
   {
     margin: 0px !important;
   }
   
   /* .hello
   {
     display: grid;
     grid-template-columns: auto auto;
     padding: 20px;
     background-color: #f3f3f3;
     grid-row-gap:10px;
     
   } */
  
  
   @media screen and (max-width: 995px){
     .topnav .search-container {
       float: none;
     }
     .topnav a, .topnav input[type=text], .topnav .search-container button {
       float: none;
       display: block;
       text-align: left;
       width: 100%;
       margin: 0;
       padding: 14px;
     }
     .topnav input[type=text] {
       border: 1px solid #ccc;  
     }
     .grid-main
     {
       display: inline;
     }
     .imgno
   {
     margin-left: 25%;
     width: 50%;
     padding-right: 10px !important;
   }
   .gridComp
   {
     overflow: hidden;
    
   }
   .bgwAdd,.bgw1{
     margin: 15px 25px 
   }
   .search-container
   {
     width: 90% !important;
   }
    .search-container input
   {
     width:90% !important;
    border:none !important;
    margin-right: 20%;
  
  }
  .svg-inline--fa.fa-w-16 {
    width: 1em;
   padding:0px !important;
   margin:20px 0px 0px 0px !important;
   font-size: 20px;
   position: relative;
   }
   
   }
  /*-------------------------------*/
  