html,body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  * {box-sizing: border-box;}
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header
  {
    height: 60px;
    background-color: rgb(147, 213, 201);
  }
    
     /*nav*/
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    font-size: 18px;
    font-weight: 500;
  }
  
  .topnav a:hover {
    color: #f16f6f;
    text-decoration: none;
  }
  
  .topnav a.active {
   
    color: #f16f6f;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 30px;
    border: none;
    cursor: pointer;
   
  }
  
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  .search-container
  {
    display: -webkit-inline-box;
    margin: 10px 50px 0px 0px !important;
    border-radius: 25px !important;
    border-bottom: 2px solid rgba(153,153,153,0.8);
    padding: 0px !important;
  
  }
  .search-container input
  {
    width:80% !important;
    margin: 3px !important;
    margin-right: 20px !important;
  }
  .fa-search {
   width: 1em;
   margin-right: 9px;
   color: rgba(153,153,153,0.8);
  }
    
  
  .center{
    display: flex;
    justify-content: center;
  }
 
   
  /*EditDetail*/
  .imdgrid
  {
    height: 110px;
    width: 110px;
    border-radius: 55px;
    background-image: url(../assets/default.png);
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   z-index: 2;
   margin-right: 100px !important;
   margin-bottom: 100px !important;
  }
  .compName
  {
    margin-left: 130px;
    margin-top: 1%;
    margin-bottom: 5px !important;
    position: absolute;
    z-index: 2;
    font-weight: 700;
    
  }
  .editProf
  
    {
      display: -webkit-inline-box;
      height: 40px;
      border-radius: 20px;
      width: 150px;
     background-color: #b87875;
     margin-left: 55%;
     margin-top: 40px;
     padding: 6px;
     position: absolute;
   z-index: 2;
   cursor: pointer;
  
  }
  .fa-pencil-alt
  {
    color: #fff !important;
    font-size: 25px !important;
    margin: 0px 5px !important;
  }
  .fontEdit
  {
    font-size:1.2rem;
    font-weight: 500;
    color: #fff;
  }
  .editGreen
  {
    background-color: rgb(147, 213, 201);
    padding: 40px 90px 40px 60px !important;
    margin: 60px 25px 0px 50px !important;
    width: 60%;
    border-radius: 10px !important;
    z-index: 1;
    position: absolute;
  }
  
  .bgw
  {
    
    background-color: white;
    padding: 30px;
    margin: 10px;
    width: 100%;
    justify-content: center;
  }
  .mainGrid2
  {
    padding: 5px 5px 30px 50px !important;
    background-color: #f3f3f3;
    width: 100%;
    margin-bottom: 0px;
    height: 81vh;
    overflow: hidden;
   
  }
  .edit
  {
    background-color: #f3f3f3;
   
  }
 
  .editGrid
  {
   display: grid;
   grid-template-columns: auto auto ;
   grid-column-gap:50px !important;
   margin: 0px !important;
   width: fit-content;
  }
  .dets
  {
    padding: 5px;
  }
  /*Modal*/
  .btnModal
  {
    border-radius: 20px;
    height: 40px;
    width: 80px;
    float: right;
    color: #fff;
    background-color: rgb(147, 213, 201);
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
  }
  .editGridModal
  {
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap:10px !important;
  }
  .editGridModal input
  {
   padding: 0px !important;
    margin: 15px !important;
    width: 90%;
    
  }
  .editMore
  {
    background-color: #f3f3f3;
    width: max-content;
    
   
  }
 
  .editMoreGrid
  {
   display: grid;
   grid-template-columns: auto auto ;
   grid-column-gap:8px !important;
   margin: 0px !important;
   width: fit-content;
  }
  .editMore input{
    background-color: #f3f3f3 !important;
    width: 90%;
    padding: 0px !important;
    margin: 15px !important;
  }
  .editMoreBtn
  {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    float: right;
    color: #fff;
    background-color: rgb(147, 213, 201);
    border: 1px solid #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 8px !important; 
    margin-left: 5px;
  }
  input 
  {
    padding-bottom: 0px !important;
    margin: 20px 5px 20px 5px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #000;
    width: 100%;
  
    
  }
  input:focus {
    border-color:#000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
      outline: none !important;
  }
  #exampleFormControlSelect1
  {
    padding-bottom: 0px !important;
    margin: 10px 5px 10px 5px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #000;
    width: 100%;
  }
  #exampleFormControlSelect1:focus {
    border-color:#000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
      outline: none !important;
  }
 
 
  
  @media screen and (max-width: 995px) {
    
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
    .search-container
   {
     width: 90% !important;
   }
    .search-container input
   {
     width:90% !important;
    border:none !important;
    margin-right: 0px !important;
  
  }
  .search-container .fa-search {
    width: 1em;
   padding:0px !important;
   margin:20px 0px 0px 0px !important;
   font-size: 20px;
   position: relative;
   }
    .grid-main
    {
      display: inline;
    }
  
  .bgw{
    margin: 20px 30px 20px 30px;
  
  }
 
  .info
  {
   font-size:medium;
  }
  .editGreen
  {
    background-color: rgb(147, 213, 201);
    padding: 40px 80px 40px 40px !important;
    margin: 40px 20px 20px 40px !important;
    width: 80% !important;
    border-radius: 10px !important;
    z-index: 1;
    position: absolute;
  }
  .editProf
  
  {
    display: -webkit-inline-box;
    height: 40px;
    border-radius: 20px;
    width: 160px;
   background-color: #b87875;
  
   margin-top: 20px;
   padding: 8px !important;
   position: absolute;
 z-index: 2;

}

  .compName
  {
   font-size: 25px;
    position: absolute;
    z-index: 2;
    font-weight: 600;   
  }
  .editGrid
  {
   display:block;
   grid-template-columns: auto auto ;
   grid-column-gap:50px !important;
   margin: 0px !important;
   width: fit-content;
  }
  .fa-pencil-alt
  {
    color: #fff !important;
    font-size: 20px !important;
    margin: 0px 3px !important;
  }
  .svg-inline--fa.fa-w-16 {
    
    padding:0px !important;
  
    font-size: 20px;
    position: relative;
    }
  .fontEdit
  {
    font-size:1.1rem;
    font-weight: 500;
    color: #fff;
  }
    
  }
  @media screen and (max-width:550px)
  {
    .editMore
  {
    background-color: #f3f3f3;
    width: fit-content;
  }

  }