.rectangle{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #88E7C8;
  }
  
 .align1{
   transform: translateX(12px);
 }
 .align2{
  transform: translateX(12px);
}
.align3{
  transform: translateX(-3px);
}
.align4{
  transform: translateX(22px);
}
.align5{
  transform: translateX(10px);
}
label{
  padding: 2px;
}
  .inner_box{
    background: #88E7C8;
    border-radius: 30px;
    margin: 7%;
    
  }
  .box{
    background: #F3F3F3;
    top:-25px;
  }
  .details{
    transform: translateY(-20%);
    text-align: center;
  }
  .studentdisplay{
    margin-top: 3px;
    border: none;
    padding: 10px;
    width:60%;
    background:#FAFAFA;  
  }
  
  .glass{
    position: absolute;
    left: 92%;
    top:4.5%;
    font-size: 18px;
    color: #DADADA;
    padding: 5px;
  }
   img{
     border-radius:50%;
     position: relative;
    
   }
   .pic1{
     margin: 30px 10px 30px 20px;
     width: 60%;
   }
  .pic2{
    transform: translate(-62px,-65px);
    width: 115px;
    height: 115px;
  }
  .head{
    font-size: 150%;
    padding-top: 5px;
    transform: translate(85px,-150px);
  
  }
  .edit{
    background: #B87575;
    border-radius: 30px; 
    border: none;
    padding: 10px;
    color: #FAFAFA;
    font-size: 16px;
    width: 85px;
    
  
  }
  .side{
    text-align: center;
  }