.rectangle{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #88E7C8;
  }
  .inner_details{
    position: relative;
    width:100%;
    transform: translate(15px,-100px);
  
  }
  .inner_blocks{
    background: #F3F3F3;
    position: relative;
  }
  .inner_box{
    background: #88E7C8;
    border-radius: 30px;
    margin: 7%;
    
  }
  .box{
    background: #F3F3F3;
    top:-25px;
  }
  
  .inp{
    position: absolute;
    left: 62%;
    width: 35%;
    height: 40px;
    padding: 15px;
    background-color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border:none;
    z-index:-1;
  }
  .lb{
    font-size:18px;
    padding-right: 5px;
  }
  .glass{
    position: absolute;
    left: 92%;
    top:4.5%;
    font-size: 18px;
    color: #DADADA;
    padding: 5px;
  }
   img{
     border-radius:50%;
     position: relative;
    
   }
   .pic1{
     margin: 30px 10px 30px 20px;
     width: 60%;
   }
  .pic2{
    transform: translate(-62px,-65px);
    width: 115px;
    height: 115px;
  }
  .head{
    font-size: 125%;
    padding-top: 5px;
    transform: translate(52px,-165px);
  
  }
  .edit{
    transform: translateY(-170px);
    background: #B87575;
    border-radius: 30px; 
    border: none;
    padding: 10px;
    color: #FAFAFA;
    font-size: 12px;
  
  }
  .side{
    text-align: center;
  }