#main_companypage{
    background-color: #f8f9fa;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
}
#content_companypage{
    padding-top: 100px;
}
.student_profile_picture_companypage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.info_companypage{
    margin: 20px 0;
}
#link_companypage{
    font-weight: 500;
    color: black;
}
#companylink_companypage{
    color: black;
}
