.background_studentdashboard{
    background-color: rgb(240, 240, 240);
    height: 100%;
    margin-top: 50px;
}
#left-card_studentdashboard{
    margin-right: 30px;
    margin-left: 50px;
    border-radius: 3%;
    text-transform: uppercase;
    font-weight: bold;
}
#right-card_studentdashboard{
    margin-left: 30px;
    border-radius: 3%;
    text-transform: uppercase;
    font-weight: bold;
}
.profile_pic_studentdashboard{
    width: 140px;
    height: 140px;
}
#apply_studentdashboard{
    background-color:rgb(102, 204, 0);
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
.select_studentdashboard{
    color: rgb(247, 212, 116);
}
.interview_studentdashboard{
    color: lightgreen;
}
.review_studentdashboard{
    color: darkred;
}
.reject_studentdashboard{
    color: red;
}
.companyProfile_studentdashboard{
    background-color: rgb(247, 212, 116);
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}
a, a:visited, a:hover{
    color: white;
    text-decoration: none;
}
.studentCard_studentdashboard{
    margin-bottom: 30px;
}
.position_studentdashboard{
    display: inline;
}
.expand_studentdashboard{
    background-color: darkred;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin-left: 17px;
    margin-right: 3px;
    padding: 1px 8px;
    margin-bottom: 10px;
}
.invisible_studentdashboard {
    display: none;
}
    
.visible_studentdashboard {
    display: block;
}